h2{
    color: aliceblue;
}

p:hover, h2:hover, a:hover {
    background-color: darkorange;
  }

  h1{
    color: aliceblue;
}

p:hover, h1:hover, a:hover {
    background-color: gold;
  }



